<section class="adminGroupModal">

    <div class="modalAll">

        <p class="modalTitle">
            Create New Group
        </p>

        <div class="modalSelectArea">
          <div class="modalSel">
          <p>
              Group Name
          </p>
            <input type="text" name="Group Name" placeholder="Group Name" ng-model="group.name">
          </div>
          <div class="modalSel">
            <p>
              Group Description
            </p>
            <input type="text" name="Group Desc" placeholder="Group Description" ng-model="group.desc">
          </div>
        </div>
        <button  class = "modalBtn"type="button" name="Create" ng-click="addGroups(group)">Create</button>

    </div>

</section>
