<section class="adminNumModal">

    <div class="modalAll">

        <p class="modalTitle">
            Manage Phone Numbers
        </p>

        <div class="modalSelectArea">
            <div class="modalSel">
                <p>
                    First Name
                </p>
                <input type="text" name="phone number" placeholder="Phone Number" ng-model="number.number">
            </div>
            <div class="modalSel">
                <p>
                    First Name
                </p>
                <input type="text" name="description" placeholder="Add Description" ng-model="number.desc">
            </div>
        </div>
        <button class = "modalBtn" type="button" name="Create" ng-click="addNumber(number)">Add Number</button>

        <button class = "modalBtn" type="button" name="Create">Request Number from TextConnect</button>

    </div>

</section>
